@page
@model IndexModel
@{
    ViewData["Title"] = "OnlineConverterBT Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    <form action="/Main">
        <button>Перейти к регистрации</button>
    </form>
    <style>
        form{
            text-align: center;
        }
    </style>
</div>
